<header class="header-container">
  <div class="header">
    <nav class="menu">
      <ul>
        <li>
          <a href="javascript:void(0);"
             routerLink="/home"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }"
             (click)="navigateToPage('/home')">HOME</a>
        </li>
        <li>
          <a href="javascript:void(0);"
             routerLink="/profile"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }"
             (click)="navigateToPage('/profile')">PROFILE</a>
        </li>
        <li>
          <a href="javascript:void(0);"
             routerLink="/updates"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }"
             (click)="navigateToPage('/updates')">UPDATES</a>
        </li>
        <li>
          <a href="javascript:void(0);"
             routerLink="/projects"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }"
             (click)="navigateToPage('/projects')">PROJECTS</a>
        </li>
        <li>
          <a href="javascript:void(0);"
             routerLink="/blogs"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }"
             (click)="navigateToPage('/blogs')">BLOGS</a>
        </li>
        <li>
          <a href="javascript:void(0);"
             routerLink="/gallery"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }"
             (click)="navigateToPage('/gallery')">GALLERY</a>
        </li>
        <li>
          <a href="javascript:void(0);"
             routerLink="/about-contact"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }"
             (click)="navigateToPage('/about')">ABOUT ME</a>
        </li>
      </ul>
    </nav>
    <div class="contact-links">
      <p>
        📞 <a href="tel:+16412339906">+1 641-233-9906</a> |
        📧 <a href="mailto:sunilpoudel12@gmail.com" target="_blank" rel="noopener noreferrer">Email</a> |
        <a href="https://linkedin.com/in/sunilpoudel" target="_blank">LinkedIn</a> |
        <a href="https://github.com/sunilpoudel123" target="_blank">GitHub</a>
      </p>
    </div>
  </div>
</header>
