<div class="home-container">
  <h1>Welcome to My Portfolio!</h1>
  <p>
    Full Stack Java Developer with 6+ years of experience building enterprise applications for fintech and health-tech sectors.
  </p>
  <p>
    Developed scalable solutions, including B2B payment aggregator solution, SMS VAS Server, online doctor appointment system, and POS-based Agency Banking.
  </p>
  <p>
    Expertise in utilizing Java stack, MySQL, PostgreSQL, Kubernetes, and Docker while following Agile methodologies.
  </p>
  <p>
    Proficient in full-stack technologies, including Java, Spring, Hibernate, Design Patterns, OOPS, SDLC, Concurrency, Data Structures, SQL, and Cloud Deployment.
  </p>
  <p>
    Explore the features of this application by navigating through the links above.
  </p>
</div>
<canvas id="globeCanvas"></canvas>
